<nav class="navbar navbar-black bg-light">
    <a class="navbar-brand" href="">
        <img class="logo" src="/img/images.png" alt="">
    </a>
    <div>
        <a class="btn btn-primary" href="/perguntar">Perguntar</a>
        <a class="btn btn-success" href="/">Responder</a>
    </div>
</nav>